body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Format all pages */
.page {
    background-color: rgb(71, 22, 71);
    margin: auto;
    text-align: center;
    padding: 12px;
    max-width: 800px;
}

/* Make home page narrower */
.page.home {
    width: 500px;
}

/* Align main content left */
.list,
h3,
p {
    text-align: left;
}

/* Size image */
img {
    width: auto;
    height: 310px;
}

/* Main content text color */
p,
.text,
a.recipe-link:visited {
    color: rgb(241, 225, 249);
}

/* Subheadings and link home text color */
h2,
h3,
a.link-home:visited {
    color: rgb(234, 186, 238);
}

/* Format links */
a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}
/* --- */

/* Center site and page headers and remove top padding */
h1,
h2 {
    text-align: center;
}

/* Site header font size and color */
h1 {
    font-size: 40px;
    color: rgb(71, 22, 71);
    margin: 0 auto 12px;
    padding: 10px 0;
}

/* Page header font size */
h2 {
    font-size: 30px;
    margin: 0 auto 12px;
}

/* Format subheadings */
h3 {
    font-size: 20px;
    text-decoration: underline;
}

/* Main content font size */
p,
.text {
    font-size: 16px;
}

.recipe-link {
    display: block;
    margin: 12px auto;
}

.list.home {
    margin: auto;
}